a{
    height:20px;
    width:50px;
    position:relative;
    left:0;
    right:0;
    top:11px;
    bottom:0px;
    font-size:20px;
    padding:1px;
    color:white;
    text-decoration: none;
    border-radius:5px;


}

#title{
    border-style: none;
    margin-bottom: 0px;
}


.header{
    grid-area:h;
    background:#35424a;
    border-bottom:#e8491d 3px solid;

}


.highlight{
    color:red;
}


#highlight2{
    color:white;
}

.dummytxt{
    border-style:none;
}

.content{
    grid-area:c;
    background:#D7DDDF;
}


.sidebar{
    grid-area:s;
    background:#D7DDDF;
}



.footer{
    grid-area:f;
    background:grey;
    margin-top: 15px;
    padding: 20px;
    color: white;
}

.container{
    display:grid;
    grid-template:repeat(3, 100px auto 100px) / repeat(12, 1fr);

    background-color: grey;
    grid-template-areas:
"h h h h h h h h h h h h"
"c c c c c c c c c c s s"
"f f f f f f f f f f f f";
}





















